:root,
[data-theme="rainy-forest"] {

}

[data-theme="coffee-shop"] {

}

[data-theme="wheat-fieldd"] {

}

[data-theme="city-night"] {

}

[data-theme="basic"] {
    --color-bg: white;
    --color-dark-accent: darkgrey;
    --color-medium-accent: grey;
    --color-light-accent: lightgrey;
    --color-text: black;
}

* { border: 1px solid black; }

body {
    border-color: green;;
}

#navBarContainer {
    background-color: var(--color-dark-accent);
    height: 35px;
    border-color:red;
}

#navBarContainer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#navBarContainer li {
    display: inline-block;
}

.title-bar-buttons {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-text);
    font-size: 1rem;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.25em 1em;
  }

#navBar ul {
    text-align: right;
}

#navBar li:first-child {
    float: left;
}

#mainContainer {
    
}

#mainContainer {
    margin: 3px;
    border-color: blue;

}

#leftSection {
    border-color: blueviolet;
    margin: 2px;
    display: inline-block;
    max-width: 50%;
}

#rightSection {
    border-color: yellowgreen;
    margin: 2px;
    display: inline-block;
}
